.container {
  display: flex;
  justify-content: center; 
  align-items:center;
}
#gameWindow {
  position: relative;
  width: 800px;
  height: 600px;
  border: solid 1px black;
}

.userInterfaceArea {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
}
#messageBox {
  width: 100%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.3);
}

.navigateArea {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
}

.navigateArea > div {
  display: inline-block;
  text-align: center;
  margin: 0 50px 0 50px;
}

.navigateArea > div:hover {
  color:red
}